@font-face {
  font-family: "IranYekan";
  src: url('./fonts/IranYekan/IRANYekanMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "IranYekan", sans-serif;
}